<div ng-controller="reset">
	<span>Please enter your username and message will be sent to the email listed with your name</span>
    <form>
	    <input placeholder="Username" name="username" class="" ng-model="reset.username" required/>
	    <button ng-click="sendEmail()">Submit</button> <!-- a submit button -->
	</form>

</div>