<!DOCTYPE html>
<html ng-app="uploading">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.20.min.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body ng-controller="UploadController">
	<div class="panel-body">
		<input class="bottom-marg-15" type="file" name="file" file></input>
		<button ng-click="upload()">Upload</button>
	</div>

	<script src="../js/s3upload.js"></script>
    <script src="../js/directives.js"></script>

</form>
</body>
</html>