<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>


<title>Home Page</title>
</head>
<body ng-app="homeApp">
	<!-- Div for controller -->
	<div ng-controller="homeController">
		
				<a href="#" class="thumbnail"> <img
					src=""
					alt="User">
				</a> <a href="#">Change Picture</a>
			</div>
			<h1>
				Example page header <small>Subtext for header</small>
			</h1>
		</div>

		<input type="text" ng-model="searchUser.name" class="form-control"
			placeholder="Search" />

		<button ng-click="getSearch()" class="btn btn-default">Submit</button>


		<div class="panel panel-default" style="display: inline-block"
			id="left">
			<div class="panel-heading">
				<h3 class="panel-title">User Information</h3>
			</div>
			<div class="panel-body">
				<!-- get this from the cookie -->
				<input ng-model="userFirstName.name" name="userFirstName"
					value="{{user.firstName}}" /> <input ng-model="userLastName.name"
					name="userLastName" value="{{user.lastName}}" /> <input
					ng-model="userEmail.name" name="userEmail" value="{{user.email}}" />

				<button ng-click="editInfo()" class="btn btn-default">Save
					Update</button>
			</div>
		</div>

		<!-- Status Input -->


		<!-- <div ng-controller="UploadController" class="panel-body">
						<input class="bottom-marg-15" type="file" name="file" file></input>
						<button  class="btn btn-default" ng-click="upload()">Upload an Image</button>
					</div> -->

		<input type="text" class="form-control" ng-model="userPost.content"
			placeholder="Enter a Status" aria-describedby="basic-addon1">
		<button ng-click="submitPost()" class="btn btn-info">Submit</button>
	</div>

	<div ng-show="addedPost.content">
		{{addedPost.postImage}}<br> {{addedPost.content}}<br>
		Original Poster: {{addedPost.postCreator}}<br> Likes:
		{{addedPost.likeCount}}<br> Time: {{addedPost.createdTime}}<br>
	</div>

	<!-- I AM TRYING TO WORK ON THIS RIGHT HERE -->
	<!-- This is where the posts will go -->
	<div ng-repeat="posts in postList" style="display: inline-block">
		<li class="list-group-item">{{post.content}} {{post.}}
			{{user.lastName}} <br>
			<button type="button" class="btn btn-default"
				ng-click="getSelectedUserPosts()">Select Profile</button>
		</li>
	</div>


	<h3>Search Results</h3>


	<!-- THIS IS WHAT I AM WORKING ON RIGHT HERE -->
	<div ng-if="userList">

		<ul class="list-group">
			<div ng-repeat="user in userList">
				<li class="list-group-item">{{user.username}}
					{{user.firstName}} {{user.lastName}} <br>
					<button type="button" class="btn btn-default"
						ng-click="getSelectedUserPosts()">Select Profile</button> <!-- <button type="button" class="btn btn-default" ng-click="getSelectedUserPosts({{user.username}})">Select Profile</button> -->
				</li>
			</div>
		</ul>
	</div>

	<!-- /end of controller -->
	<script src="../js/app.js"></script>
	<script src="../js/home.js"></script>

	<script src="../js/s3upload.js"></script>
	<script src="../js/directives.js"></script>
</body>
</html>